.grid-container {
    background-color: cornsilk;
    display: grid;
    grid-template-columns: 1.5em 120px repeat(4, 1fr) fit-content(20%) 1.5em;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
            '. header header header header header .'
            '. buttons main main main main .'
            '. buttons main main main main .'
            '. buttons main main main main .'
            '. buttons main main main main .'
            '. . . footer footer footer .'
;
    height: 95vh;
    width: 95vh;
}

.header {
    background-color: cornflowerblue;
    grid-area: header;
}

.main {
    text-align: center;
    border: black;
    grid-area: main;

}

h1 {
    text-align: center;
}

.button-container {
    background-color: #ff431a;
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
#run{
    background: cadetblue;
    color:#f4f4f4;
    margin: 5px;

}
#run:hover{
    transform:scale(1.09);
}

.footer {
    grid-area: footer;
    text-align: center;
}

table {
    height: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    border-spacing: 1px;
}
th, td {
  border: 1px solid black;
}

td[state=True] {
    background-color: black;
}

#speed {
    direction: rtl;
}

button {
    margin: 0.5em;
}

input {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%
}

.slider-box {
    text-align: center;
}
