body {
    background-color: cornsilk
}

.main-container {
    display: flex;
    margin-left: 1.5em;
    margin-right: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    width: 90vw;
    font-size: 400%;
    font-weight: bold;
}

table {
    height: 90vw;
    width: 90vw;
    margin-top: 0.5em;
}

td {
    border: solid gray 1px;
}

td[state=True] {
    background-color: black;
}

.interface-container {;
    width: 90vw;
    background-color: #ff431a;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.5em;
    align-items: center;
    font-size: 200%;

}

.button-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    margin: 0.5em;
    width: 30vw;
    height: 10vw;
    font-size: 1em;
}

.slider-container {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.slider {
    position: relative;
    -webkit-appearance: none;
    width: 95%;
    height: 2vh;
    background: lightcyan;
    margin: 2em;
}

#speed {
    direction: rtl
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    margin: 0.5em;
    width: 60px;
    height: 60px;
    background: #4CAF50;
    cursor: pointer;
}

.footer {
    font-size: 100%;
    grid-area: footer;
    text-align: center;
}


@media (orientation: landscape) {
    .main-container {
        margin-left: 0;
        margin-right: 0;
        flex-direction: row;
        height: 95vh;
        padding: 1em;
    }

    header {
        writing-mode: vertical-lr;
        text-orientation: upright;
        /*transform: rotate(-180deg);*/
        background-color: cornflowerblue;
        height: 100%;
        max-width: 2em;
        font-size: 6vh;
        font-weight: bold;
        padding: 0;
    }

    table {
        height: 90vh;
        width: 90vh;
        margin: 0.5em;
    }

    .interface-container {;
        height: 90vh;
        max-width: 30%;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .slider::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
    }

    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
    }

    button {
    margin: 0.5em;
    max-width: 80%;
    height: 10vh;
    font-size: 1em;
}



}