body {
    background-color: cornsilk
}

.main-container {
    display: flex;
    margin-left: 1.5em;
    margin-right: 1.5em;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 2.5em;
    width: 90vw;
    font-size: 400%;
    font-weight: bold;
}

table {
    height: 90vw;
    width: 90vw;
    margin-top: 0.5em;
}

td {
    border: solid gray 1px;
}

td[state=True] {
    background-color: black;
}

.interface-container {;
    width: 90vw;
    background-color: #ff431a;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;

}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0.5em;
}

button {
    margin: 0.5em;
    width: 30vw;
    height: 10vw;
    font-size: 200%;
}

.slider-container {
    margin: 0.5em;
}

.slider-box {
    text-align: center;
    color: black;
    font-size: 250%;
    margin-top: 10px;

}

.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 30%;
    background: lightcyan;
}

#speed {
    direction: rtl
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    margin: 0.5em;
    width: 60px;
    height: 60px;
    background: #4CAF50;
    cursor: pointer;
}

.footer {
    font-size: 100%;
    grid-area: footer;
    text-align: center;
}


@media (orientation: landscape) {
    .main-container {
        margin-left: 0;
        margin-right: 0;
        flex-direction: row;
        height: 95vh;
        padding: 1em;
    }

    header {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        background-color: cornflowerblue;
        height: 100%;
        width: 15vh;
        font-size: 300%;
        font-weight: bold;
        padding: 0;
    }

    table {
        height: 90vh;
        width: 90vh;
        margin: 0.5em;
    }

    .interface-container {;
        width: 60vh;
        background-color: #ff431a;
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        height: 90vh;

    }

    .button-container {
        flex-direction: column;
    }

    .slider::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
    }

    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
    }

    button {
        margin: 0.5em;
        width: 95%;
        height: 10vh;
        font-size: 150%;
    }


}